In [2]:
import pandas as pd

In [35]:
def get_max_close(symbol):
    csv = pd.read_csv("{}.csv".format(symbol))
    return csv['Close'].max()
#     print(csv[5:10])
#     print(csv)

In [36]:
def test_run():
    for symbol in ['GOOG' , 'AAPL']:
        print("Max Close")
        print(symbol, get_max_close(symbol))

In [37]:
test_run()

Max Close
GOOG 1175.839966
Max Close
AAPL 179.259995

In [40]:
testread = pd.read_csv("GOOG.csv")
testread

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,1048.140015,837100
1,2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,1046.400024,887500
2,2018-01-02,1048.339966,1066.939941,1045.229980,1065.000000,1065.000000,1237600
3,2018-01-03,1064.310059,1086.290039,1063.209961,1082.479980,1082.479980,1430200
4,2018-01-04,1088.000000,1093.569946,1084.001953,1086.400024,1086.400024,1004600
5,2018-01-05,1094.000000,1104.250000,1092.000000,1102.229980,1102.229980,1279100
6,2018-01-08,1102.229980,1111.270020,1101.619995,1106.939941,1106.939941,1047600
7,2018-01-09,1109.400024,1110.569946,1101.230957,1106.260010,1106.260010,902500
8,2018-01-10,1097.099976,1104.599976,1096.109985,1102.609985,1102.609985,1042800
9,2018-01-11,1106.300049,1106.525024,1099.589966,1105.520020,1105.520020,978300
10,2018-01-12,1102.410034,1124.290039,1101.150024,1122.260010,1122.260010,1720500
11,2018-01-16,1132.510010,1139.910034,1117.832031,1121.760010,1121.760010,1575300
12,2018-01-17,1126.219971,1132.599976,1117.010010,1131.979980,1131.979980,1202600
13,2018-01-18,1131.410034,1132.510010,1117.500000,1129.790039,1129.790039,1198200
14,2018-01-19,1131.829956,1137.859985,1128.300049,1137.510010,1137.510010,1778200
15,2018-01-22,1137.489990,1159.880005,1135.109985,1155.810059,1155.810059,1618000
16,2018-01-23,1159.849976,1171.626953,1158.750000,1169.969971,1169.969971,1333100
17,2018-01-24,1177.329956,1179.859985,1161.050049,1164.239990,1164.239990,1416600
18,2018-01-25,1172.530029,1175.939941,1162.760010,1170.369995,1170.369995,1480500
19,2018-01-26,1175.079956,1175.839966,1158.109985,1175.839966,1175.839966,1838800

In [ ]:
def get_mean_volume():
    for symbol in ['GOOG', 'AAPL']:
        print(symbol, )